<header>
    <div class="center">
        <div class="info">
            <a href="#">+ {{phoneNumber}}</a>
            <a href="mailto:qendrim.s.imeri@gmail.com">{{email}}</a>
        </div>
        <div class="connect-with-us">
            
            <form action="#">
                <select name="lang" id="lang">
                    <option value="shqip">Shqip</option>
                    <option value="english">English</option>
                </select>
            </form>
        </div>
    </div>
</header>