<main>
    <img src="../../../../assets/img/bg-img/bg.webp" alt="background image">
    <div class="overlay"></div>
    <div class="center">
        <div class="hero-content">
            <h1>EDUKIMI I JUAJ <BR /> PRIORITETI YNE</h1>
            <P>Illyrian University esht nje prej universitetev me te suksesshem ne rajone. <br> I cili ofron studime cilsore  me staft profesional dhe laburatore moderne.</P>
            <a href="#"><button class="regjistrohu"> Regjistrohu</button></a><br>
            <a href="#"> Lexo me shume</a>
        </div>
    </div>
</main>