<section>
  <div class="center">
    <div class="helping-info">
      <h2>Mire Se Erdhet</h2>
      <p>Nese deshorioni te Kyqeni</p>
      <a routerLink="/login"><button class="regjistrohu"> Kyqu</button></a>
    </div>
    <div class="cover">
      <h3>Regjistrohu</h3>
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <label for="emri">Emri</label>
        <input type="text" name="emri" id="emri" placeholder="Emri" required formControlName="emri"/>
        <label for="mbiemri">Mbiemri</label>
        <input type="text" name="mbiemri" id="mbiemri" placeholder="Mbiemri" required formControlName="mbiemri"/>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required formControlName="email"/>
        <label for="password">Fjalkalimi</label>
        <input type="password" name="password"  placeholder="FjalKalimi" required formControlName="password"/>
        <label for="nrTel">Nr. Telefonit</label>
        <input type="text" name="ntTel" id="tel" placeholder="Nr. Telefonit" required formControlName="nrTel"/>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="drejtimi">
          <option selected>Zgjedh Drejtimin</option>
          <option value="Matematike">Matematike</option>
          <option value="Shkenca Kompjuterike">Mjeksi</option>
          <option value="Gjeografi">Shkenca Kompjuterike</option>
          <option value="Mjeksi">Gjeografi</option>
          <option value="Ekonomi">Matematike</option>
        </select>

        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="regjioni">
          <option selected>Zgjedh Regjionin</option>
          <option value="Prishtine">Prishtine</option>
          <option value="Ferizaj ">Ferizaj</option>
          <option value="Peje">Peje</option>
          <option value="Gjakove">Gjakove</option>
          <option value="Gjilan">Gjilan</option>
          <option value="Mitrovice">Mitrovice</option>
          <option value="Prizren">Prizren</option>
        </select>
        <div class="gjinia">
          <div>
            <input type="radio" name="gjinia" id="mashkull" value="mashkull" formControlName="gjinia"/>
            <label for="mashkull"> Mashkull</label>
          </div>
          <div>
            <input type="radio" name="gjinia" id="femer" value="femer" formControlName="gjinia" />
            <label for="femer"> Femer</label>
          </div>
        </div>
        <button > Regjistrohu</button>
      </form>
    </div>
  </div>
</section>