<nav class="nav" *ngIf="show else navMenu">
  <div class="center">
    <a href="/" class="logo">
      <p>ILLYRIAN</p>
      <p>University</p>
    </a>
    <menu>
      <a href="#"><button class="menu">Kryefaqja</button></a>
      <a href="#"><button class="menu">Drejtimet</button></a>
      <a href="#"><button class="menu">Kurset</button></a>
      <a href="#"><button class="menu">Rreth Nesh</button></a>
      <a routerLink="../../../public/components/login"><button class="menu kyqu">Kyqu</button></a>
      <a href="#"><button class="menu regjistrohu">Regjistrohu</button></a>
    </menu>
    <button class="btn-nav" (click)="toggle()">

      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 384.97 384.97"
        style="enable-background: new 0 0 384.97 384.97"
        xml:space="preserve"
      >
        <g>
          <g id="Menu">
            <path
              d="M12.03,84.212h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03
			C5.39,60.152,0,65.541,0,72.182C0,78.823,5.39,84.212,12.03,84.212z"
            />
            <path
              d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03
			S379.58,180.455,372.939,180.455z"
            />
            <path
              d="M372.939,300.758H12.03c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h360.909
			c6.641,0,12.03-5.39,12.03-12.03C384.97,306.147,379.58,300.758,372.939,300.758z"
            />
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
        <g></g>
      </svg>
    </button>
  </div>
</nav>
<ng-template #navMenu >
    <div class="mobile-menu">
      <button class="btn-nav" (click)="toggle()">
        <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        id="close"
      >
        <g data-name="Layer 2">
          <g data-name="close">
            <rect
              width="24"
              height="24"
              transform="rotate(180 12 12)"
              opacity="0"
            />
            <path
              d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
            />
          </g>
        </g>
      </svg>
    </button>
    <menu>
        <a href="#"><button class="mobile-nav">Kryefaqja</button></a>
        <a href="#"><button class="mobile-nav">Drejtimet</button></a>
        <a href="#"><button class="mobile-nav">Kurset</button></a>
        <a href="#"><button class="mobile-nav">Rreth Nesh</button></a>
        <a href="#"><button class="mobile-nav mobile-kyqu">Kyqu</button></a>
        <a href="#"><button class="mobile-nav mobile-regjistrohu">Regjistrohu</button></a>
      </menu>
    </div>
</ng-template   >
