@import "../../../../../styles.scss";

nav {
    width: 100%;
    background-color: $primary;

    .center {
        @extend %flex--jc-sb--ai-c;
        width: 80%;
    }
}

.logo {
    p:first-child {
        color: $secondary;
        font-size: $font-xl;
        font-family: $serif-font-headline;
        letter-spacing: $letter-spacing-md;
        font-weight: $font-weight-b;
    }

    p:last-child {
        color: $reset-color;
        font-size: $font-md;
        letter-spacing: $letter-spacing-md;
        font-family: $sans-serif-font;
    }
}

menu {
    flex-basis: 75%;
    @extend %flex--jc-sb--ai-c;
}

.menu {
    border: none;
    background-color: transparent;
    font-size: $font-lg;
    color: $reset-color;
    font-family: $sans-serif-font;
    letter-spacing: $letter-spacing-md;
    font-weight: $font-weight-m;
    cursor: pointer;

    &:hover {
        color: $secondary;
    }
}

.kyqu {
    border: 2px solid $reset-color;
    @extend %padding-border-r;

    &:hover {
        color: $secondary;
        border: 2px solid $secondary;
    }
}

.btn-nav {
    display: none;
}
.mobile-menu {
    display: none;
}

@media (max-width: 997px) {
    .menu {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-nav {
        background-color: transparent;
        border: none;
        position: absolute;
        display: block;
        left: 85rem;

        svg {
            width: 4.2rem;
            height: 4.2rem;
            fill: $secondary;
        }
    }

    .mobile-menu {
        display: block;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0%;
        background-color: $primary;
        z-index: 10;

        .btn-nav {
            position: absolute;
            z-index: 9999;
            left: 84rem;
            top: 1.5rem;

            svg {
                width: 5.2rem;
                height: 5.2rem;
            }
        }

        menu {
            width: 85%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 12%;
            left: 5%;
            z-index: 9999999;

            .mobile-nav {
                color: $reset-color;
                font-weight: $font-weight-b;
                font-size: $font-xl;
                letter-spacing: $letter-spacing-md;
                border: none;
                background-color: transparent;
                text-transform: uppercase;
                margin: 1rem;
                padding: 1rem;

                &:hover {
                    color: $secondary;
                }
            }

            .mobile-regjistrohu {
                border-radius: $border-radius;
                padding: 1.1rem 2.2rem;
                border: 2px solid $secondary;
                background-color: $secondary;
                font-size: $font-xl;
                color: $reset-color;
                letter-spacing: $letter-spacing-sm;

                &:hover {

                    background-color: transparent;
                    border: 2px solid $reset-color;
                    color: $reset-color;
                    font-size: $font-xl;
                    letter-spacing: $letter-spacing-sm;
                }
            }

            .mobile-kyqu {
                border: 2px solid $reset-color;
                border-radius: $border-radius;
                padding: 1.1rem 2.2rem;
                margin-bottom: 2rem;


                &:hover {
                    border: 2px solid $secondary;
                    border-radius: $border-radius;
                    padding: 1.1rem 2.2rem;
                }
            }
        }
    }
}