<section>
  <div class="center">
    <div class="des-header">
      <h2>Drejtimet e pergjithshme</h2>
      <p>Zgjidh njerin nga drejtimte</p>
    </div>
    <div class="drejtimet">
      <div class="drejtimi">
        <img src="../../../../assets/img/drejtimet/chem.webp" alt="Chemistry" />
        <p>Faklulteti i Kimis</p>
      </div>
      <div class="drejtimi">
        <img src="../../../../assets/img/drejtimet/cs.webp" alt="computer sience" />
        <div class="emri-drejtimit">
          <p>Faklulteti i Shkencav Kompjuterike</p>
        </div>
      </div>
      <div class="drejtimi">
        <img src="../../../../assets/img/drejtimet/math.webp" alt="Matematik" />
        <div class="emri-drejtimit">
            <p>Faklulteti i Matematikes</p>
        </div>
      </div>
      <div class="drejtimi">
        <img src="../../../../assets/img/drejtimet/med.webp" alt="Medicine" />
        <div class="emri-drejtimit">
            <p>Fakulteti i Mjeksis</p>
        </div>
      </div>
      <div class="drejtimi">
        <img src="../../../../assets/img/drejtimet/sport.webp" alt="Sport" />
        <div class="emri-drejtimit">
          <p>Fakulteti i Sportev</p>
        </div>
      </div>
      <div class="drejtimi">
        <img src="../../../../assets/img/drejtimet/geo.webp" alt="gjeografi" />
        <div class="emri-drejtimit">
          <p>Faklulteti i Gjeografis</p>
        </div>
      </div>
    </div>
    <a href="#">Lexo me shume</a>
  </div>
</section>
