<section>
    <div class="header">
        <div class="img">
            <img src="../../../../assets/img/kurset/instructors/figmaGuy.webp" alt="Qendrim Imeri">
        </div>
        <div class="person-info">
            <h3>Qendrim Imeri</h3>
            <p>Inxhinjer Softwerik.</p>
        </div>
    </div>
    <div class="body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate atque <br>
         pariatur earum numquam dignissimos, iste doloremque fugiat reiciendis, minima quos tenetur 
         <br> veritatis voluptate adipisci necessitatibus dicta ipsum ad, molestiae corrupti.
        </p>
    </div>
</section>