
<section>
  <div class="center">
    <div class="cover">
      <form [formGroup]="logInForm" (ngSubmit)="logIn()">
        <h3>Kyqu</h3>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Shkruani Email Addressen" required formControlName="email"/>
        <br />
        <label for="password">FjalKalimi</label>
        <input type="password" name="password" id="password" placeholder="Shenoni FjalKalimin" required formControlName="password"/>
        <button >Kyqu</button>
      </form>
    </div>
    <div class="helping-info">
      <h2>Mire Se Erdhet</h2>
      <p>Nuk jeni te regjistruar</p>
      <a routerLink="/regjister"><button class="regjistrohu"> Regjistrohu</button> </a>
    </div>
  </div>
</section>