<router-outlet></router-outlet>
<section>
  <div class="center">
    <div class="cover">
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
      <h3>Kyqu</h3>
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Shkruani Email Addressen"
        ngModel
        #name="ngModel"
        required
        pattern=" [^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+$"
      />
      <br />
      <span class="email" *ngIf="name.invalid && name.touched">
        Email Addressa nuk esht shenuar si duhet</span
      >
      <label for="password">FjalKalimi</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Shenoni FjalKalimin"
        ngModel
        #pass="ngModel"
      />
      <span class="email" *ngIf="pass.invalid && pass.touched">
        Fjalkalimi esht obligativ</span>
      <button [disabled]="loginForm.invalid">Kyqu</button>
    </form>
    </div>
    <div class="helping-info">
      <h2>Mire Se Erdhet</h2>
      <p>Nuk jeni te regjistruar</p>
      <button class="regjistrohu"> Regjistrohu</button>
    </div>
  </div>
</section>
