@import "../../../../styles.scss";

@media (max-width: 980px) {

  .helping-info {
    display: none !important;
  }

}

section {
  width: 100%;
  height: 100vh;
  background-color: $shade-bg-light;
  display: flex;
  justify-content: center;
  align-items: center;

  .center {
    width: 70%;
    height: 80%;
    display: flex;

    .cover {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $reset-color;
      border-radius: $border-radius;
      box-shadow: 0px 2px 8px grey;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;

        h3 {
          font-size: 2.4rem;
          align-self: center;
        }

        label {
          font-size: $font-md;
          color: $primary;
          font-size: $font-rg;
          margin: 1rem 0;
        }

        input {
          background-color: transparent;
          border-radius: $border-radius;
          border: 2px solid $primary;
          height: 1.8rem;
          display: block;
          width: 33rem;
          height: 5rem;
        }

        span {
          color: rgb(211, 41, 41);
          font-size: $font-md;
          padding-bottom: 0.5rem;
        }

        input[placeholder] {
          font-size: $font-rg;
          padding-left: 1rem;
          color: #1a4065;
        }

        button {
          background-color: $primary;
          color: $reset-color;
          font-size: $font-rg;
          padding: 1rem 0px;
          border: 2px solid $primary;
          border-radius: $border-radius;
          margin-top: 3rem;
          font-weight: $font-weight-m;
          cursor: pointer;

          &:hover {
            border: 2px solid $primary;
            background-color: transparent;
            color: $primary;
          }
        }
      }
    }

    .helping-info {
      /* Created with https://www.css-gradient.com */
      background: #1a4065;
      background: -webkit-linear-gradient(bottom left, #1a4065, #03192d);
      background: -moz-linear-gradient(bottom left, #1a4065, #03192d);
      background: linear-gradient(to top right, #1a4065, #03192d);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius;
      box-shadow: 0px 2px 8px grey;

      h2 {
        color: $secondary;
        font-weight: $font-weight-b;
        font-size: 5.2rem;
        padding-bottom: 4rem;
      }

      p {
        font-size: $font-xl;
        color: $reset-color;
        font-weight: $font-weight-m;
      }
    }
  }
}